{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
<h1 align="center" style="margin-top: 20px;">Recipes</h1>
<ul class="list-group list-group-flush" id="recipes">
  {% for recipe in user.recipes %}
  <li class="list-group-item">
    <div class="list-items">
      {{ recipe.data }}
    </div>
    <div class="clearfix">  
      <button type="button" class="btn btn-danger float-right ml-2" onClick="deleteRecipe({{ recipe.id }})">Delete</button>
      <button type="button" class="btn btn-warning float-right ml-2" onClick="">View Ingredients</button>
      <button type="button" class="btn btn-success float-right" onClick="">Add Ingredients</button>
    </div>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <input class="form-control form-control-lg" name="recipe" id="recipe" type="text" placeholder="Enter the Name of your Recipe!">
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Recipe</button>
  </div>
</form>
{% endblock %}
