{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
<h1 align="center" style="margin-top: 20px;">Recipes</h1>
<ul class="list-group list-group-flush" id="recipes">
  {% for recipe in user.recipes %}
  <li class="list-group-item">
    <div class="list-items">
      {{ recipe.data }}
    </div>
    <div class="buttons">  
      <button type="button" class="btn btn-danger float-right ml-2" onClick="deleteRecipe({{ recipe.id }})">Delete</button>
      <button type="button" class="btn btn-warning float-right ml-2" onClick="">View Ingredients</button>
      <button type="button" class="btn btn-success float-right" onClick="showForm()">Add Ingredients</button>
    </div>
    <div class="ingredients" style="display: inline;">
      <form id="add_ingredients" style="display: none;">
        <div class="form-row align-items-center">
          <div class="col-auto my-1">
            <input class="form-control form-control-sm" name="" id="" type="text" placeholder="Ingredient">
          </div>
          <div class="col-auto my-1">
            <input class="form-control form-control-sm" name="" id="" type="text" placeholder="Quantity">
          </div>
          <div class="col-auto my-1">
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
              <option selected>Units</option>
              <option value="1">tsp</option>
              <option value="2">tbsp</option>
              <option value="3">fl oz</option>
              <option value="4">c</option>
              <option value="5">pt</option>
              <option value="6">qt</option>
              <option value="7">gal</option>
            </select>
          </div>
          <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Add Ingredient</button>
          </div>
        </div>
      </form>
    </div>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <input class="form-control form-control-lg" name="recipe" id="recipe" type="text" placeholder="Enter the Name of your Recipe!">
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Recipe</button>
  </div>
</form>
{% endblock %}
